.caja11{
    width: 1201px;
    height: 316px;
    background-color:#212844;
    border-radius: 16px;
    margin-top: 30px;
    position: relative;
    grid-template-columns: 70% 30%;
    display: grid;  
}

.circulo1{
    width: 86px;
    height: 86px;
    background-color: #f8f0f0;
    border-radius: 50px;

    position: absolute;
    left: -51px;
    top: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circulo2{
    width: 86px;
    height: 86px;
    background-color: #f8f0f0;
    border-radius: 50px;
    
  
 
    position: absolute;
    top: 116px;
    left: 1165px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto6{
   grid-column: 1/2;
}

.titulo2{
    grid-column: 1/2;
}

.texto6{
    color: white;
    font-size: 30px;

}

.titulo2{
    font-size: 63px;
    color: white;
}

.texto7{
    font-size: 30px;
    color: white;
}

.caja12{
    display: flex;
    gap: 15px;
flex-direction: column;
justify-content: center;
padding-left: 80px;

}


.cajaimg{
    grid-template-columns: 2/3;
    display: flex;
align-items: center;
 
}

.cajaC{
    width: 114px;
    height: 8px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.circulo3{
    background-color: white;
    width: 24px;
    height: 8px;
    border-radius: 7px;
}

.circulo4{
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background-color: white;
}

.caja13{
 grid-template-columns: 40% 60%;
    width: 1198px;
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
}


.texto9{
    color: #008ECC;
    font-size: 24px;
}

.caja14{
height: 100%;
border-bottom: 3px solid #008ECC;
    flex-direction: row;
    display: flex;
    gap: 15px;
    align-items: center;
}

.texto8{
    font-size: 24px;
    color: #666666;

}

.caja13{
    
    margin-top: 100px;
}

.caja15{
    justify-content: end;
    display: flex;
    font-size: 16px;
    color: #222222;
    padding-right: 40px;
    gap: 10px;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid #EDEDED;


}

