.CajaElectro{
 
    height: 217px;
 margin-top: 50px;
    gap: 15px;
    display: flex;
    flex-direction: row;
    
    
}

.anuncio1{
width:389px ;
height:215px;
border-radius: 16px;
background-color: #313131;
display: flex;


}


.marca1{
    background-color: #494949;
    width: 99px;
    height: 35px;
    font-size: 14px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}



.descuento1{
    color: #FFFFFF;
    font-size: 24px;
    width: 100%px;
    height: 30px;
}

.marcasC2{
    display: flex;
    flex-direction: column;
    gap: 20px;
   padding-bottom: 31px;
    width:389px;
    padding-left: 20px;
    
    justify-content: center;
    
}

.telefonoIphone{
    width: 168px;
    height: 320px;
   

}





.anuncio2{
    width:389px ;
    height:215px;
    border-radius: 16px;
    background-color: #FFF3CC;
    display: flex;
    
    
    }
    
    
    .marca2{
        background-color: #F6DE8D;
        width: 99px;
        height: 35px;
        font-size: 14px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #222222;
    }
    
    
    
    .descuento2{
        color: #222222;
        font-size: 24px;
        width: 190px;
        height: 30px;
    }
    
    .marcasC{
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        width:389px;
        padding-left: 20px;
        
        justify-content: center;
        
    }
    
    .telefonoRealme{
        width: 200px;
        height: 320px;
       
    
    }






.anuncio3{
        width:389px ;
        height:215px;
        border-radius: 16px;
        background-color: #FFECDF;
        display: flex;
        
        
        }
        
        
        .marca3{
            background-color:#FFD1B0;
            width: 99px;
            height: 35px;
            font-size: 14px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #222222;
        }
        
        
        
        .descuento2{
            color: #222222;
            font-size: 24px;
            width: 190px;
            height: 30px;
        }
        
        .marcasC3{
            display: flex;
            flex-direction: column;
            gap: 20px;
           
            width:389px;
            padding-left: 20px;
            
            justify-content: center;
            
        }




.cajaC2{
            width: 114px;
            height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 27px;
            gap: 8px;
            margin-left: 540px;
        }
        
        
.circulo5{
    width: 24px;
    height: 8px;
    border-radius: 7px;
    background-color: #008ECC;
}

.circulo6{
    width: 8px;
    height: 8px;
    background-color: #D9D9D9;
    border-radius: 50px;
}
     



